*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0b1e;
    color: white;    
}

header{
    background: #0b0b1e;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}

.logo{
    font-weight: bold;
    font-size: 20px;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.login-btn {
  background: #3366ff;
  border: none;
  padding: 8px 20px;
  color: white;
  cursor: pointer;  
}

.hero{
    text-align: center;
    padding: 80px 20px 40px;
}

.hero h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p{
    margin-bottom: 30px;
    color: #ccc;
}

.email-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.email-form input{
    padding: 10px;
    width: 300px;
    border: none;
}

.email-form button{
    padding: 10px 20px;
    background: #3366ff;
    color: white;
    border: none;    
}

.features {
    padding: 60px 20px;
    text-align: center;
}

.features h2{
    font-size: 40px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;

}

.card{
    background: #111122;
    padding-top: 70px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #222;
    width: 250px;
}

.how-it-works{
    padding: 60px 20px;
    background: #060629;
    text-align: center;
}

.steps{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
    flex-wrap: wrap;    
}

.get-started{
    padding: 10px 20px;
    background: #3366ff;
    border: none;
    color: white;
    cursor: pointer;
}

.mailing{
    text-align: center;
    padding: 60px 20px;
    
}

.mailing h2{
    font-size: 35px;
}

.mailing p{
    margin-bottom: 30px;
}

footer {
  background: #0b0b1e;
  padding: 20px 40px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.login-btn2{
  background: #3366ff;
  border: none;
  padding: 8px 20px;
  color: white;
  cursor: pointer;  
}

.HTML-logo{
    width: 72px;
    height: 82px;
    padding-top: auto;
}
.JAVA-logo{
    width: 72px;
    height: 82px;
    padding-top: auto;
}
.CSS-logo{
    width: 72px;
    height: 82px;
    padding-top: auto;
}

.SUBMIT{
  background: #3366ff;
  border: none;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
}

